/* .container{
    text-align: center;
    border:dotted ;
    border-color: aqua;

} */
body{
            background-image: url('D:\javascript\Image0058 - Copy.jpg');

}
.this{

    /* background-image:  D:\javascript\Image0058 - Copy.jpg ; */
}
body{
    height: 20000px;
}